In [1]:
import pandas as pd

In [6]:
raw_games = pd.read_csv('HolyCollegeBasketball.csv')
raw_teamrec = pd.read_csv('PacRecords.csv')

In [7]:
raw_games.head()

,YEAR,Team,DATE,LOCATION,OPPONENT,RESULT,TEAMSCORE,OPPSCORE,RECORD,WAB,...,OPPP,OEFG%,OTO%,OOR%,OFTR,DPPP,DEFG%,DTO%,DOR%,DFTR
0,2018,Arizona,Fri 11-10,H,Northern Arizona,W,101,67,1-0,0.0,...,139.8,64.0,15.2,52.2,56.1,92.8,43.1,18.0,27.9,51.7
1,2018,Arizona,Sun 11-12,H,UMBC,W,103,78,2-0,0.1,...,139.9,72.7,17.7,34.6,21.9,105.9,53.2,13.6,17.9,25.8
2,2018,Arizona,Thu 11-16,H,Cal St. Bakersfield,W,91,59,3-0,0.2,...,125.5,64.3,17.9,30.4,73.5,81.3,40.2,22.1,33.3,34.4
3,2018,Arizona,Wed 11-22,N,North Carolina St.,L,84,90,3-1,-0.4,...,114.9,48.4,10.9,38.5,56.5,123.1,56.4,13.7,22.6,63.6
4,2018,Arizona,Thu 11-23,N,SMU,L,60,66,3-2,-1.1,...,90.9,52.1,30.3,36.7,40.4,100.0,37.1,12.1,38.5,27.1

In [8]:
raw_teamrec.head()

   YEAR     TEAM REC1YRAGO REC2YRAGO REC3YRAGO REC4YRAGO REC5YRAGO
0  2018  Arizona      32-5      25-9      34-4      33-5      27-8
1  2019  Arizona      27-8      32-5      25-9      34-4      33-5
2  2020  Arizona     17-15      27-8      32-5      25-9      34-4
3  2021  Arizona     21-11     17-15      27-8      32-5      25-9
4  2022  Arizona      17-9     21-11     17-15      27-8      32-5

In [ ]:
if