In [1]:
import pandas as pd

In [2]:
raw_games = pd.read_csv('HolyCollegeBasketball.csv')
raw_teamrec = pd.read_csv('PacRecords.csv')

In [8]:
raw_games.rename(columns = {'Team':'TEAM'}, inplace = True)
raw_games.head()

,YEAR,TEAM,DATE,LOCATION,OPPONENT,RESULT,TEAMSCORE,OPPSCORE,RECORD,WAB,...,OPPP,OEFG%,OTO%,OOR%,OFTR,DPPP,DEFG%,DTO%,DOR%,DFTR
0,2018,Arizona,Fri 11-10,H,Northern Arizona,W,101,67,1-0,0.0,...,139.8,64.0,15.2,52.2,56.1,92.8,43.1,18.0,27.9,51.7
1,2018,Arizona,Sun 11-12,H,UMBC,W,103,78,2-0,0.1,...,139.9,72.7,17.7,34.6,21.9,105.9,53.2,13.6,17.9,25.8
2,2018,Arizona,Thu 11-16,H,Cal St. Bakersfield,W,91,59,3-0,0.2,...,125.5,64.3,17.9,30.4,73.5,81.3,40.2,22.1,33.3,34.4
3,2018,Arizona,Wed 11-22,N,North Carolina St.,L,84,90,3-1,-0.4,...,114.9,48.4,10.9,38.5,56.5,123.1,56.4,13.7,22.6,63.6
4,2018,Arizona,Thu 11-23,N,SMU,L,60,66,3-2,-1.1,...,90.9,52.1,30.3,36.7,40.4,100.0,37.1,12.1,38.5,27.1

In [4]:
raw_teamrec.head()

,YEAR,TEAM,REC1YRAGOW,REC1YRAGOL,REC2YRAGOW,REC2YRAGOL,REC3YRAGOW,REC3YRAGOL,REC4YRAGOW,REC4YRAGOL,REC5YRAGOW,REC5YRAGOL
0,2018,Arizona,32,5,25,9,34,4,33,5,27,8
1,2019,Arizona,27,8,32,5,25,9,34,4,33,5
2,2020,Arizona,17,15,27,8,32,5,25,9,34,4
3,2021,Arizona,21,11,17,15,27,8,32,5,25,9
4,2022,Arizona,17,9,21,11,17,15,27,8,32,5

In [21]:
raw_teamrec['TEAMYEAR'] = raw_teamrec['TEAM'] + raw_teamrec['YEAR'].astype(str) 
teamrec = raw_teamrec.set_index('TEAMYEAR')

In [29]:
raw_games['TEAMYEAR'] = raw_games['TEAM'] + raw_games['YEAR'].astype(str)
games = raw_games.set_index('TEAMYEAR')
games.head()

,YEAR,TEAM,DATE,LOCATION,OPPONENT,RESULT,TEAMSCORE,OPPSCORE,RECORD,WAB,...,OPPP,OEFG%,OTO%,OOR%,OFTR,DPPP,DEFG%,DTO%,DOR%,DFTR
TEAMYEAR,,,,,,,,,,,,,,,,,,,,,
Arizona2018,2018,Arizona,Fri 11-10,H,Northern Arizona,W,101,67,1-0,0.0,...,139.8,64.0,15.2,52.2,56.1,92.8,43.1,18.0,27.9,51.7
Arizona2018,2018,Arizona,Sun 11-12,H,UMBC,W,103,78,2-0,0.1,...,139.9,72.7,17.7,34.6,21.9,105.9,53.2,13.6,17.9,25.8
Arizona2018,2018,Arizona,Thu 11-16,H,Cal St. Bakersfield,W,91,59,3-0,0.2,...,125.5,64.3,17.9,30.4,73.5,81.3,40.2,22.1,33.3,34.4
Arizona2018,2018,Arizona,Wed 11-22,N,North Carolina St.,L,84,90,3-1,-0.4,...,114.9,48.4,10.9,38.5,56.5,123.1,56.4,13.7,22.6,63.6
Arizona2018,2018,Arizona,Thu 11-23,N,SMU,L,60,66,3-2,-1.1,...,90.9,52.1,30.3,36.7,40.4,100.0,37.1,12.1,38.5,27.1

In [38]:
rest = 'Arizona'
resy = 2018

def search(team, year):
    multgames = 
    
    return multgames

search(rest, resp)

,YEAR,TEAM,DATE,LOCATION,OPPONENT,RESULT,TEAMSCORE,OPPSCORE,RECORD,WAB,...,OPPP,OEFG%,OTO%,OOR%,OFTR,DPPP,DEFG%,DTO%,DOR%,DFTR
TEAMYEAR,,,,,,,,,,,,,,,,,,,,,
Arizona2018,2018,Arizona,Fri 11-10,H,Northern Arizona,W,101,67,1-0,0.0,...,139.8,64.0,15.2,52.2,56.1,92.8,43.1,18.0,27.9,51.7
Arizona2018,2018,Arizona,Sun 11-12,H,UMBC,W,103,78,2-0,0.1,...,139.9,72.7,17.7,34.6,21.9,105.9,53.2,13.6,17.9,25.8
Arizona2018,2018,Arizona,Thu 11-16,H,Cal St. Bakersfield,W,91,59,3-0,0.2,...,125.5,64.3,17.9,30.4,73.5,81.3,40.2,22.1,33.3,34.4
Arizona2018,2018,Arizona,Wed 11-22,N,North Carolina St.,L,84,90,3-1,-0.4,...,114.9,48.4,10.9,38.5,56.5,123.1,56.4,13.7,22.6,63.6
Arizona2018,2018,Arizona,Thu 11-23,N,SMU,L,60,66,3-2,-1.1,...,90.9,52.1,30.3,36.7,40.4,100.0,37.1,12.1,38.5,27.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Arizona2022,2022,Arizona,Fri 3-11,N,Colorado,W,82,72,30-3,8.0,...,111.8,58.0,24.6,24.0,50.0,98.2,51.6,19.1,21.1,16.1
Arizona2022,2022,Arizona,Sat 3-12,N,UCLA,W,84,76,31-3,8.8,...,121.4,58.7,18.8,35.7,53.8,109.8,45.7,10.1,32.6,24.6
Arizona2022,2022,Arizona,Fri 3-18,N,Wright St. (16),W,87,70,32-3,8.9,...,114.7,64.2,25.0,35.7,20.0,92.3,41.3,7.9,16.3,27.5
Arizona2022,2022,Arizona,Sun 3-20,N,TCU (9),W,85,80,33-3,9.5,...,103.6,49.3,19.5,33.3,36.8,97.5,39.2,17.1,40.0,40.5
Arizona2022,2022,Arizona,Thu 3-24,N,Houston (5),L,60,72,33-4,9.3,...,96.2,39.8,22.4,39.0,42.6,115.4,55.0,19.2,38.7,50.0